//Here you can customize bootstrap
$primary: #663399;
// bootswatch theme
@import "~bootswatch/dist/cosmo/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cosmo/bootswatch";


/* Googleフォント */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');
body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

// ページ共通CSS
.title-obi {
  background-color: cornflowerblue;
  color: #fff;
  padding: 0.5rem;
}

.space {
  max-width: 960px;
  padding-top: 2rem;
}

.h1-obi {
  font-size: 1.2rem;
}

// form
form div {
  margin-bottom: 1rem;
}